body{
    background-image: url("background1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

#start,
#status,
#restart {
    font-size: 22px;
}

.modal-dialog {
    width: 70%;
}

.modal-body {
    text-align: left;
    font-size: 20px;
}

h4 {
    background-color:red;
    color: black;
    line-height: 2;
    opacity:0.5;
}

canvas {
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}